* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body {
    background-color: #22272e;
}

main {
    background-color: #22272e;
    width: 1500px;
    margin: auto;
    padding: 0px;
    box-shadow: 3px 3px 5px black;
}

/* Set height of body and the document to 100% to enable "full page tabs" */
body, html {
    height: 100%;
    margin: 0;
    font-family: Arial;
  }


  
  /* Style tab links */
  .tablink {
    background-color: #22272e;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 20%;
  }
  
  .tablink:hover {
    background-color: #30363d;
  }
  
  /* Style the tab content (and add height:100% for full page content) */
  .tabcontent {
    color: aliceblue;
    display: none;
    padding: 100px 20px;
    height: 100%;
  }

  .tabtext {
    width: 69%;
    padding: 15px;
    float: left;
  }

  .tabimg {
    width: 25%;
    padding: 15px;
    float: right;
  }

  .tabtextprof {
    width: 45%;
    padding: 15px;
    float: left;
  }

  .tabimgprof {
    width: 50%;
    padding: 15px;
    float: right;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
    width: 100%;
  }

  .header {
    background-color: aliceblue;
    padding: 20px;
    text-align: center;
    color:#22272e ;
  }

  .h1header {
    color: #22272e;
    font-size: 32px;
    font-weight: bold;
    font-family: Rock Salt, Arial, Helvetica, sans-serif;
  }

  .pheader {
    color: #22272e;
  }

  .titulopag {
    font-weight: bold;
  }

#snailchip_logo {
    width: 75%;
    
}

  #foto_perfil{
      width: 75%;
      border-radius: 100%;
      box-shadow: 3px 3px 5px black;
      float: right;
  }

  #professional_exp {
    width: 75%;
    float: right;
}
  
  #Resume {background-color: #0B3C4C;}
  #Professional_Experience {background-color: #0E5066;}
  #Academic_Experience {background-color: #13647F;}
  #Knowledge_Areas {background-color: #127899;}
  #Personal_Projects {background-color: #1A8BB2;}